<a href="https://colab.research.google.com/github/lahari-536/jntua-python1/blob/master/30_1_2020.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
 print("hello")       
 print('hello')

hello
hello

#Markdown
## Markdown
### Markdown

**likki**
*likki*
***likki***

*** Adding links to markdown***

[site](https://www.jntua.ac.in)

## insert image##
![text](https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcR1yzDp_lIdF3T4gnzHb9R8_o5InqGe6CdbM5a7ez1XgOEwpxll)

In [3]:
print("Hello world")

Hello world

In [4]:
print("hello, jntua","|||","chemical","|||","cse","|||","Mca")

hello, jntua ||| chemical ||| cse ||| Mca

#Assignment

In [8]:
n1 = 100 #single var assignment
print(n1)
a=b=c=10 #multiple var assign
print(a,b,c)
a1,b1,c1=100,200,300 #multiple var assign with diff values
print(a1,b1,c1)

100
10 10 10
100 200 300

#Datatype and conversions

*   INT
*   FLOAT
*   STRING

In [9]:
s1=10.2
s2="python"
a=100
print(type(a),type(s1),type(s2))

<class 'int'> <class 'float'> <class 'str'>

In [13]:
i=100
print(type(i))
s1=str(i)
print(type(s1),s1)
f1=float(i)
print(type(f1))
print(f1)
print(len(i))

<class 'int'>
<class 'str'> 100
<class 'float'>
100.0

TypeError: ignored

In [14]:
#length
a=12345
print(len(str(a)))

5

In [17]:
#Reading input from user
input("hello")
input("enter name ")
b=int(input("enter age"))

helloeverybody
enter name likki
enter age20

#operators
* operator is symbol used to perform specific kind of operations
* Arithmetic operator:
* +
* -
* *
* div
* mod
* floor

In [24]:
a=1234
print(a+10)
print(a-10)
print(a*10)
print(a/10)
print(a%10)
print(a//10)
print(a**10)

1244
1224
12340
123.4
4
123
8187505353567209228244052427776

#Relational operators
* =
*==
*<
*'>'
*<=
*'>='

In [29]:
x=int(input("t"))
a1=x>15
print(a1)

t20
True

#Logical operators
* AND
* NOT
* OR

In [31]:
i=100
a1=(i>15) and (i<800)
a2=(i>15) or(i<800)
print(a1)
print(a2)

True
True

# control flow statements
* conditional flow stmts
* looping statements

#if-else statements
## syntax
## if boolean-condition:
      statements
##else:
        statements

In [33]:
# To check given is even or odd
n=int(input("enter a number"))
if n%2==0 :
  print(n,"is even number")
else:
  print(n,"is odd number12")

enter a number12
12 is even number

In [37]:
#To check given number is perfectly multiples of 3 and 5
n=int(input("enter a number"))
if (n%3==0) and (n%5==0):
  print(n)
else:
  print("error")

enter a number15
15

In [41]:
#check a number is positive,negative or zero
n=int(input("enter a number"))
if n>0:
  print("positive")
elif n==0:
  print("zero")
else:
  print("negative")

enter a number-1
negative

In [53]:
#Find largest among 3 numbers
a=int(input("enter num"))
b=int(input("enter num"))
c=int(input("enter num"))
if a>=b:
  if a>=c:
    print("a is larger")
  else:
    print("c is larger")
else:
  print("b is larger")

enter num4
enter num4
enter num4
a is larger

In [57]:
#Given year is leap or not
n=int(input("enter year"))
if n%4==0:
  if (n%100==0):
    if n%400==0:
      print("leap year")
    else:
      print("not leap year")
  else:
    print("leap year")
else:
  print("not leap year")

enter year1999
not leap year